<% layout("/layouts/boilerplate")%>
    <h3>Login
    </h3>
    <div class="form">
        <form action="/login" method="post"  class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required>
                <div class="invalid-feedback">password required</div>
            </div>
            <button class="btn btn btn-primary">Log in</button>
        </form>
    </div>
